body {
    display: flex;
    flex-direction: column;
}

img {
    height: 150px;
    width: auto;
}

.header {
    color: whitesmoke;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

